/*********************************************** 
  general
************************************************/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Inter", "sans-serif";
  line-height: 1.6em;
  word-wrap: break-word;
  overflow-wrap : break-word;
}

@media (max-width: 767px) {
  body {
    font-size: 0.8em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
figure {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
button, input, textarea {
  -webkit-appearance: none;
  padding: 0;
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
}
pre, code {
  font-family: Menlo, Consolas, monospace;
}

/*********************************************** 
  header
************************************************/
.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  max-width: 700px;
  margin: 0 auto;
}

.title a {
  font-size: 2em;
  font-weight: 900;
  display: inline-block;
  height: 100%;
}

.header nav {
  line-height: 80px;
}
.header ul {
  display: flex;
  height: 100%;
}
.header ul li {
  display: block;
  font-weight: 900;
  height: 100%;
  font-size: 1.2em;
  padding-left: 15px;
}
.header nav ul li a{
  display: inline-block;
  height: 100%;
}

@media (max-width: 767px) {
  .header {
    padding: 0 20px;
  }
  .title a {
    font-size: 2.0em;
  }
}

/*********************************************** 
  list
************************************************/

.list-content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .list-content {
    width: 100%;
    padding: 0 20px;
  }
}

.list-content article:first-child {
  margin-top: 0;
}

.list-header {
  margin-top: 30px;
  margin-bottom: 30px;
}
.list-header .list-title {
  font-size: 50px;
}
.list-footer {
  margin-top: 30px;
}
.post-entry {
  position: relative;
  margin-top: 25px;
}

@media (max-width: 767px) {
  .post-entry .post-header .post-meta {
    font-size: 12px;
  }
  .post-entry .post-header .post-title {
    font-size: 18px;
  }
}

/*********************************************** 
  single
************************************************/

.post-view {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px;
}
.post-view .post-header{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
}
.post-view .post-header .post-meta{
  text-align: center;
  font-size: 1em;
  letter-spacing: .5px;
  margin-bottom: 1em;
}
.post-view .post-header .post-title {
  text-align: center;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
}
.post-author {
  text-align: center;
  margin: 10px auto 0 auto;
}
.post-author li {
  display: inline-block;
  line-height: 24px;
  font-size: 0.9em;
}
.post-author li a {
  display: inline-block;
  display: block;
  padding: 0.5em;
}
#twitter-logo {
  vertical-align: middle;
  height: 2em;
}

.post-view .post-content {
  margin-left: auto;
  margin-right: auto;
}

.post-footer {
  padding: 20px 0;
}

.post-widget {
  max-width: 740px;
  margin: 0 auto;
  padding: 20px 0;
}

.twitter-widget {
  width: 300px;
  margin: 0 auto;
}

.post-content h1,
.post-content h2 {
  margin-bottom: 0.5em;
}
.post-content h1 {
  font-size: 20px;
  margin-top: 40px;
}
.post-content h1:first-child {
  margin-top: 0;
}
.post-content h2 {
  font-size: 18px;
  margin-top: 1.5em;
}
.post-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-content a {
  color: #2077b2
}
.post-content p {
  box-sizing: border-box;
  letter-spacing: 0.01em;
  line-break: strict;
}
.post-content p,
.post-content ul,
.post-content ol,
.post-content dl {
  margin-bottom: 1em;
}
.post-content ul,
.post-content ol {
  padding-left: 1.5em;
}
.post-content li {
  margin-bottom: 0.3em;
}
.post-content li > ul,
.post-content li > ol {
  margin-top: 0.3em;
}
.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.post-content dt {
  width: 25%;
  font-weight: 700;
}
.post-content dd {
  width: 75%;
  margin-left: 0;
  padding-left: 10px;
}
.post-content dt ~ dt,
.post-content dd ~ dd {
  margin-top: 10px;
}

.post-content .table {
  display: block;
  overflow: auto;
}

.post-content table {
  margin: 30px auto;
}
.post-content table {
  border-collapse: collapse;
  border-spacing: 0;
}
.post-content th,
.post-content td {
  padding: 12px;
  border: 1px solid #eee;
}
.post-content th {
  text-align: left;
}

.post-content blockquote {
  margin: 0 0 0 -23px;
  padding: 0 0 0 20px;
  color: rgba(0, 0, 0, .6);
  font-style: italic;
  border-left: 3px solid rgba(0, 0, 0, .8);
}
@media (max-width: 767px) {
  .post-content blockquote {
    margin: 0 0 0 -30px;
    padding: 0 0 0 27px;
  }
}

.post-content hr {
  margin-top: 70px;
  margin-bottom: 70px;
  border: solid rgba(0, 0, 0, .1);
  border-width: 1px 0 0;
}

.post-content iframe {
  max-width: 100%;
}

/*********************************************** 
  tag
************************************************/

.post-tags {
  text-align: center;
  margin: 0 auto;
}
.post-tags li {
  display: inline-block;
}
.post-tags a {
  display: block;
  padding: 0.5em;
  line-height: 1em;
  font-size: 0.8em;
  color: rgba(0, 0, 0, .8);
}
.post-tags li + li {
  margin-left: 3px;
}
.post-tags a:hover {
  background: #eee;
}

/*********************************************** 
  code
************************************************/

code {
  display: inline;
  padding: 2px 4px;
  margin: 0 2px;
  font-size: 0.9em;
  border-radius: 2px;
  background: #f3f3f3;
}

.post-content pre {
  margin: 10px 0;
  word-wrap:normal;
  word-break: normal;
  border-radius: 6px;
}

.highlight code {
  background: transparent;
}

.post-content pre code {
  display: block;
  padding: 10px;
  border-radius: 6px;
  overflow: scroll;
  font-size: 0.9em;
  margin : 0 0 15px 0;
}

code::-webkit-scrollbar{
  display:none;
}

.post-content table code {
  padding-top: 0;
  padding-bottom: 0;
}
.post-content table pre {
  margin: 20px 0px;
}
.post-content table code {
  white-space: pre;
}

/*********************************************** 
  mathjax
************************************************/

.mathjax{
  overflow: auto;
  margin-bottom: 15px;
}

.mathjax::-webkit-scrollbar{
  display:none;
}

p .mjx-chtml {
  white-space: normal;
}

/*********************************************** 
  pagenation
************************************************/

a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }

.pagination {
  display: flex;
  overflow: hidden;
}
.pagination a {
  display: block;
  line-height: 30px;
}
.pagination-next {
  margin-left: auto;
}

.not-found {
  text-align: center;
  font-size: 180px;
  font-weight: 700;
  line-height: calc(100vh - 300px);
}

/*********************************************** 
  footer
************************************************/

.footer {
  padding: 20px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}
.footer span {
  margin-left: 2px;
  margin-right: 2px;
}
.footer li {
  display: inline-block;
}
.footer nav {
  padding: 20px 0;
}
@media (max-width: 767px) {
  .footer span:last-child {
    display: block;
  }
  .footer span:nth-child(4) {
    display: none;
  }
}

/*********************************************** 
  share button
************************************************/

.share {
  display: block;
  width: 260px; 
  margin: 20px auto;
  font-size: 0;
}

.share a {
  width: 80px;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 10px;
  background-color: #eceff1;
  font-weight: bold;
  letter-spacing: 0;
  border-radius: 20px;
}

.share a:last-child {
  margin-right: 0;
}

.share a.ht { color: #00a4de; }

.share a.fb { color: #3b5998; }

.share a.tw { color: #1da1f2; }